

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.transparent-box {
    background-color: transparent;
}

.text-center {
    text-align: center;
}

.border-radius {
    border-radius: 20px;
}


.text-center {
    text-align: center;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.justify-between {
    justify-content: space-between;
}

.margin-bottom{
    margin-bottom: 40px;
}

.margin-top{
    margin-top: 20px;
}